@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap');
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
*{
    box-sizing:inherit;
}
.team-section{
    /*background-color: #009688;*/
    min-height: 100vh;
    padding:70px 15px 30px;
}
.container{
    max-width: 1500px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.team-section .section-title{
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 70px;  
}
.team-section .section-title h1{
    font-size: 50px;
    text-align: center;
    margin: 0;
    color: #F24C09;
    font-weight: 700; 
}

.team-section .section-title p{
    font-size:20px;
    text-align: center;
    margin: 15px 0 0;
    color: #8A0505;
}
.team-section .team-items{ 
    
    flex-basis: 100%;
    max-width:  100%;
    display: flex;
    flex-wrap: wrap;
    margin-left:6px;
}
.team-section .team-items .item{
flex-basis: calc(25% - 30px);
max-width:  calc(22% - 30px);
transition: all .5s ease;
margin-bottom: 40px;
} 
.team-section .team-items .item img{
    display: block;
    width: 100%;
    border-radius: 8px;
}

.team-section .team-items .item .inner{
    position: relative;
    z-index: 11;
    padding:0 15px;
}
.team-section .team-items .item .inner .info{
    background-color: orangered;
    text-align: center;
    padding: 20px 15px;
    border-radius:8px;
    transition: all .5s ease;
    margin-top: -40px;
}
.team-section .team-items .item:hover .info{
    transform: translateY(-20px);
}
.team-section .team-items .item:hover{
    transform: translateY(-10px);
}
.team-section .team-items .item .inner .info h5{
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}
.team-section .team-items .item .inner .info p{
    font-size: 15.5px;
    font-weight: 400;
    color: black;
    margin:10px 0 0 0;
}
.team-section .team-items .item .inner .info .social-links{
    padding-top: 15px;
}
.team-section .team-items .item .inner .info .social-links a{
    display: inline-block;
    height: 32px;
    width:  32px;
    background-color: #ffffff;
    color: orangered;
    border-radius: 50%;
    margin:0 2px;
    text-align: center;
    line-height: 32px;
    font-size:16px;
    transition: all .5s ease;
}

.team-section .team-items .item .inner .info .social-links a:hover{
    box-shadow: 0 0 10px #000;
}
/*responsive*/
@media(max-width: 991px){
   .team-section .team-items .item{
     flex-basis: calc(50% - 30px);
      max-width:  calc(50% - 30px); 
       
}
}
@media(max-width: 991px){
   .team-section .team-items .item{
     flex-basis: calc(100%);
      max-width: calc(100%); 
       
}
}


.background{
    background:  url('hdlpu2.jpg');
    background-size: cover;
    background-blend-mode: darken;
    background-repeat: no-repeat;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    top: 0;
    cursor: pointer;
}
.navbar .fa{
 margin-right: 8px;
}

.leftnav-list{
    width: 100%;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: cover;
    background-blend-mode: darken;
}

.leftnav-list li{
    list-style: none;
    padding: 16px 50px;
}
.leftnav-list li a{
    text-decoration: none;
    color: orangered;
    font-size: 21px ;
}

.leftnav-list li a:hover{
    color: white;
}

.text-footer{
    text-align: center;
    padding: 10px 0;
    color: white;
    background-color: orangered;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    position:absolute;
    justify-content: center;
    background-size: cover;
    background-blend-mode: darken;
    width:100%;s
    
}




