*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.background{
    background: rgba(0,0,0,0.6) url('../img/l1.jpg');
    background-size: cover;
    background-blend-mode: darken;
    background-repeat: no-repeat;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 35%;
    border-radius: 50px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: ;
    top: 0;
    cursor: pointer;
}
.navbar .fa{
 margin-right: 8px;
}

.leftnav-list{
    width: 100%;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: ;
    background-size: cover;
    background-blend-mode: darken;
}

.leftnav-list li{
    list-style: none;
    padding: 16px 80px;
}
.leftnav-list li a{
    text-decoration: none;
    color: orangered;
    font-size: 21px ;
}

.leftnav-list li a:hover{
    color: white;
}


.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: ;
    background-size: cover;
    color: white;
}
.contact .content{
 max-width: 800px;
 text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: orangered;
}
.contact .content p{
    font-weight: 300;
    color: white;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{

    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color: orangered;
}
.contactForm
{
    width: 40%;
    padding: 40px;
    background:white ;
    color: black;
    border-radius: 50px;
}

.contactForm h2{
    font-size: 30px;
    color: orangered;
    font-weight: 700;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid orangered;
    
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: orangered;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: orangered;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
.text-footer{
    text-align: center;
    padding: 10px 0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    position: sticky;
    justify-content: center;
    background: orangered;
    background-size: cover;
    background-blend-mode: darken;
    
}