*{
    padding:0px;
    margin:0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: ;
    top: 0;
    cursor: pointer;
    
}
.navbar .fa{
 margin-right: 8px;
}

.leftnav-list{
    width: 100%;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: ;
    background-size: cover;
    background-blend-mode: darken;
}

.leftnav-list li{
    list-style: none;
    padding: 16px 80px;
}
.leftnav-list li a{
    text-decoration: none;
    color: orangered;
    font-size: 21px ;
}

.leftnav-list li a:hover{
    color: white;
}



.hero{
    height:100%;
    width:100%;
    position: absolute;
    margin-bottom: 5px;
}
.hero img{
    height:120px;
    width: 150px;
    margin-left: 588px;
    margin-top: 5px;
}
.form-box{
    
    width:380px;
    height:750px;
    position: relative;
    margin: 1% auto ;
    background: white;
    padding:3px;
    border:1px solid orangered;
    overflow: hidden;
}
.form-box h1{
    margin-left: 60px;
    margin-top: 5px;
    font-weight:300;
}
.button-box{
    width:300px;
    display: flex;
    margin:35px auto;
    padding: 4px;
    position:relative;
    box-shadow: 0 0 20px orangered;
    font-family: cursive;
}
.f1{
    font-family: cursive;
    font-size: 10.5px;
    color:#777;
    right:5px;
    position:absolute;
}
.toggle-btn{
    padding:10px 30px;
    cursor:pointer;
    background:transparent;
    border:0;
    outline:none;
    position:relative; 
}
#btn{
    top:0;
    left:0;
    position:absolute;
    width:90px;
    height:100%;
    background: linear-gradient(to right, white , orangered);
    transition: 0.7s;
}
.input-group{
    top: 155px;
    position:absolute;
    width:280px;
    transition:0.5s;
    text-decoration: none;
}
.input-field{
    width:100%;
    padding:10px 0;
    margin:5px 0;
    border-left:0;
    border-top:0;
    border-right:0;
    border-bottom:1px solid #999;
}
.submit-btn{
    width:85%;
    padding:10px 30px;
    cursor:pointer;
    display:block;
    margin:auto;
    background-color:orangered;
    border:0;
    outline:none;
    border-radius:30px;
}
.submit-btn:hover{
    background: #f7900bee;
    color:#ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #e66c25,
                0 0 25px #df7925,
                0 0 50px #df851f,
                0 0 100px #db7d12;
}
.chech-box{
    margin:15px 10px 30px 0;
}
.log{
    margin:-45px 210px;
    position:absolute;
}
 .log a{
    color: orangered;
}
a:hover{
    color: black;
}

#login{
    left:50px;
}
#register{
    left:450px;
}
#student{
    left:500px;
}

.gender{
    font-family: cursive;
    font-size: 13px;
    color:#777;
    padding:5px;
}
.terms{
    font-family: cursive;
    font-size: 13px;
    color:#777;
    padding: 5px;
}


.background{
    background: rgba(0,0,0,0.4) url('unimall.jpg');
    background-size: cover;
    background-blend-mode: darken;
    background-repeat: no-repeat;
}
.text-footer{
    text-align: center;
    padding: 10px 0;
    color: white;
    background-color: orangered;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    position: sticky;
    justify-content: center;
    background-size: cover;
    background-blend-mode: darken;
    
}
.hero img{
    height:120px;
    width: 150px;
    margin-left: 588px;
    margin-top: 5px;
}
.form-box img{
    height:120px;
    width: 150px;
    margin-left: 588px;
    margin-top: 5px;
    position:absolute;  
}
